

h1 {
	text-align: center;
	font-size: 3em;
}

.content {
	display: block;
	width: auto;
	overflow: hidden;
	margin: 0 auto;
	height: auto;
}
.content *{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
}