.nav-listing{
	list-style:none;
	
	background-color:#0CC652;
}

.nav-listing-bar{
	justify-content:center;
}


.nav-listing-bar li:last-child {
    border-right: none;
}

.nav-listing li a{
	
	color:black
}


.glyphicon .glyphicon-repeat{
color:black
}

.nav-listing-bar img{
	height:26px;
	width:30px;
}

.one :hover img{
 
	 opacity: 1;
  top: 0;
  transform: scale3d(1.5, 1.5, 0.5);
}
.two :hover img{
 
	 opacity: 1;
  top: 0;
  transform: scale3d(1.5, 1.5, 0.5);
}
.three :hover img{
 
	 opacity: 1;
  top: 0;
  transform: scale3d(1.5, 1.5, 0.5);
}
.four:hover img{
 
	 opacity: 1;
  top: 0;
  transform: scale3d(1.5, 1.5, 0.5);
}
.five:hover img{
 
	 opacity: 1;
  top: 0;
  transform: scale3d(1.5, 1.5, 0.5);
}
.six :hover img{
 
	 opacity: 1;
  top: 0;
  transform: scale3d(1.5, 1.5, 0.5);
}


