.tooltips {
    position: relative;
    
    
}
.tooltiptextwork {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
	font-family: "Arial Black", Gadget, sans-serif;
	opacity:0.5;
    top: 100%;
    left: 50%; 
    margin-left: -60px;
	
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltips:hover .tooltiptextwork {
    visibility: visible;
	/*border-style: solid;
    border-width: 5px;
	border-color: #00B7F1;*/
}

/* Footer Read More */
.read-more{
	color: #fff;
	text-decoration:bolder;
}
.read-more:hover{
	color: #0cc652;
	text-decoration:underline;
}

/* Footer List */

.link-list li{
	padding:6px;
	border-top: solid 1px #fff;
}

.foot-headline{
	font-size:22px;
	margin-left:4px;
	padding-bottom:3px;
	color:#fff;
}
.foot-headline-contact{
	font-size:22px;
	border-bottom: solid 1px #fff;
	padding-bottom:3px;
	color:#fff;
}

.btn-experiment{
	background:none;
}

.box_down{
	padding-top:20px
}

